
@use '../../lib/service.scss' as s;

.field{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 20px;
}
.field_label{
  font-size: 14px;
}
.field_input{
  border: 1px solid black;
  padding: s.space(2);
}
.field--disabled{
  position: absolute;
  display: none;
}
